<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div style="margin-left:20px;">
    <h2>{{ user.doctor.prefix }} {{ user.doctor.first_name }} {{ user.doctor.last_name}}</h2>
    <p><strong>Email: </strong>{{ user.email }}</p>
    <p><strong>Gender: </strong>{{ user.doctor.gender }}</p>
    <p><strong>SSN: </strong> {{ user.doctor.ssn }}</p>
    <p><strong>Specialty: </strong> {{ user.doctor.specialty }}</p>
    
    <div style="margin-left:20px;margin-top:20px">
        <h4>Prescriptions: </h4>

        {% for p in user.doctor.prescription_set.all %}
          <hr>
          <p><strong>Patient: </strong> {{p.patient}}</p>
          <p><strong>Prescription Date: </strong> {{p.dop}} &nbsp; &nbsp; &nbsp; &nbsp; <strong>Prescription Details: </strong> {{p.desc}}</p>
          <p></p>
        {% endfor %}
    </div>
</div>
{% endblock %}