<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<h2>All Prescriptions</h2>
<div class="card" style="margin-left: 50px; margin-top: 20px">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Patient</th>
          <th>Prescription Date</th>
          <th>Prescription Details</th>
        </tr>
      </thead>
      <tbody>
        {% for p in user.doctor.prescription_set.all %}
          <tr>
            <td class="align-middle">{{p.patient}}</td>
            <td class="align-middle">{{p.dop}}</td>
            <td class="align-middle">{{p.desc}}</td>
            <td class="text-right">
              <a href="{% url 'doctor:prescription_confirm_delete' user.doctor.ssn p.id %}" class="btn btn-primary">Delete</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">There are no prescriptions.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}