<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<style>
table, td, th {  
  border: 2px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
}
</style>
<h2>All Prescriptions</h2>
<div class="card" style="margin-left: 10px; margin-top: 20px">
    <table class="table mb-0">
      <thead>
        <tr>
          <th class="align-middle">Prescription ID</th>    
          <th class="align-middle">Patient</th>
          <th class="align-middle">Prescription Date</th>
          <th class="align-middle">Prescription Details</th>
          <th class="align-middle"></th>
        </tr>
      </thead>
      <tbody>
        {% for p in user.doctor.prescription_set.all %}
          <tr>
            <td class="align-middle" style="text-align: justify">{{p.id}}</td>
            <td class="align-middle" style="text-align: justify">{{p.patient}}</td>
            <td class="align-middle" style="text-align: justify">{{p.dop}}</td>
            <td class="align-middle" style="text-align: justify">{{p.desc}}</td>
            <td class="text-right">
              <a href="{% url 'doctor:prescription_confirm_delete' user.doctor.ssn p.id %}" class="btn btn-primary">Delete</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">There are no prescriptions.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}