<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div style="margin-left:20px;">
    <h1><u>Doctor Profile</u></h1>
        <h2>{{ user.doctor.prefix }} {{ user.doctor.first_name }} {{ user.doctor.last_name}}</h2>
        <p><strong>Email: </strong>{{ user.email }}</p>
        <p><strong>Gender: </strong>{{ user.doctor.gender }}</p>
        <p><strong>SSN: </strong> {{ user.doctor.ssn }}</p>
        <p><strong>Specialty: </strong> {{ user.doctor.specialty }}</p>
</div>
{% endblock %}