<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<style>
table, th, td {  
  border: 2px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
}
</style>
<h2>ALL PRESCRIPTIONS</h2>
<div class="card" style="margin-left: 10px; margin-top: 20px">
    <table class="table mb-0">
      <thead>
        <tr>
          <th class="align-middle">PRESC. ID</th>
          <th class="align-middle">DOCTOR</th>
          <th class="align-middle">PRESCRIPTION DATE</th>
          <th class="align-middle">PRESCRIPTION DETAILS</th>
        </tr>
      </thead>
      <tbody>
        {% for p in user.patient.prescription_set.all %}
          <tr>
            <td class="align-middle" style="text-align: left">{{p.id}}</td>
            <td class="align-middle" style="text-align: left">Dr {{p.doctor}}</td>
            <td class="align-middle" style="text-align: left">{{p.dop}}</td>
            <td class="align-middle" style="text-align: left">{{p.desc}}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">There are no prescriptions.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}