<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-11 col-sm-20">
      <div class="row">
        <div class="col-6">
            <h2>{{ user.first_name }} {{ user.last_name}}</h2>
            <hr>
            <p><strong>SSN: </strong> {{ user.patient.ssn }}</p>
            <p><strong>Gender: </strong>{{ user.patient.gender }}</p>
            <p><strong>Email: </strong>{{ user.patient.email }}</p>
            <p><strong>Phone: </strong>{{user.patient.phone}}</p>
            <p><strong>Credit Card Number: </strong>{{user.patient.creditcard}}</p>
            <p><strong>Insurance: </strong>{{user.patient.ins}}</p>
        </div>
        <div class="col-6 text-right">
            <a href="{% url 'patient:patient_edit' user.patient.ssn user.patient.ssn%}" class="btn btn-primary" role="button"><strong>Edit Profile</strong></a>
        </div>    
      </div>
     </div>
  </div>
</div>
{% endblock %}