<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <ul>
            <li><a href="{% url 'patient:patient_profile' user.patient.ssn%}">Profile</a></li>
            <li><a href="{% url 'patient:patient_detail' user.patient.ssn %}">All Prescriptions</a></li>
        </ul>
        <div style="margin-left: 20px">
            <h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
        </div>
    </div>
</div>
{% endblock %}       