<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}<title>NYmed Scripts</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% if user.is_authenticated and user.is_patient %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/patients.css' %}">
    {% elif user.is_authenticated and user.is_doctor %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/doctors.css' %}">
    {% elif user.is_authenticated and user.is_pharmacist %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/doctors.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    {% endif %}
</head>
<body>
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-12">
      <div class="row">
        <div class="col-6">
            {% if user.is_authenticated and user.is_doctor %}  
                <h1 class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/doctor.png' %}"></a></h1>
            {% elif user.is_authenticated and user.is_patient %}
                <h1 class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/patient.png' %}"></a></h1>
            {% elif user.is_authenticated and user.is_pharmacist %}
                <h1 class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/email.png' %}"></a></h1>
            {% else %}
                <h1 class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/medical-history.png' %}"></a></h1>
            {% endif %}
        </div>
        <div class="col-6 text-right">
          {% if user.is_authenticated %}
            <p class="pt-3">Logged in as <strong><u>{{ user.username }}</u> <a href="{% url 'logout' %}">Log out</a></strong></p>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
          {% endif %}
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>  
</body>
</html>